<div class="column_container">
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="state === STATE.GRATIFICATION else significiance">
        <div>
          <div class="example-box" *ngFor="let lever of levers">
            <app-rankable-item [label]="lever.title" [(satisfaction_level)]="lever.rate"></app-rankable-item>
          </div>
        </div>
      </ng-container>
      <ng-template #significiance>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box dragable" *ngFor="let lever of levers" cdkDrag>
            <app-rankable-item [label]="lever.title" [satisfaction_level]="lever.rate"
              [readonly]="true"></app-rankable-item>
          </div>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <div>
    <div style="margin-bottom: 2em;">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Explications
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="state === STATE.GRATIFICATION">
        Commencez par donner la satisfaction que votre poste actuel vous procure sur chacun des éléments de la liste ci
        contre à l'aide du curseur.
        Une note de 0 signifiant que vous n'êtes pas du tout satisfait·e, 5 que votre satisfaction est totale.
        <p>
          Ensuite, appuyez sur le boutton "SUIVANT".
        </p>
      </mat-card-content>
      <mat-card-content *ngIf="state === STATE.SIGNIFICIANCE">
        Maintenant, classez les éléments du plus important pour vous au moins important. L'élément en haut de la liste
        est celui que vous considérez comme étant le plus important.
      </mat-card-content>
      <mat-card-actions align="end">
        <button *ngIf="state === STATE.GRATIFICATION" mat-button (click)="state = STATE.SIGNIFICIANCE">SUIVANT</button>
        <button *ngIf="state === STATE.SIGNIFICIANCE" mat-button (click)="print()">IMPRIMER</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>